/* Top buttons section */
header{
    display: flex;
    justify-content: center;
    /* margin-bottom: 1%; */
}

header > button {
    margin: 1% 2% 3% 2%;
}

/* Whiteboard section */

#whiteboard{
    display: flex;
    justify-content: center;
}

#grid-container{
    border: 1px solid red;
}
div.pixel:hover{
    background-color: rgb(201, 196, 196);
}

/* Tools buttons section */
#buttonsTools{
    border: 1px solid green;
    width: 500px;
    justify-self: center;
    margin: auto;
}

#buttonsTools > div{
    display: flex;
    justify-content: center;
}